@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: "Roboto";
}

.stable {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;  
}
.stable thead tr {
    /*background-color: #009879;*/
    color: black;
    text-align: left;
}

.stable th,
.stable td {
    padding: 12px 15px;
}

.stable tbody tr {
    border-bottom: 1px solid #dddddd;
}

.stable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.stable tbody tr:last-of-type {
    border-bottom: 2px solid #0d6efd;
}

.habits__heading {
    margin-bottom: 2rem;
}

.habits__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.habits__menu button {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;  
}

.habits__menu a {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.habits__checkbox {
    width: 32px;
    height: 32px;
}

.habit__create__form {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: none;
}

.habit__update__form {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: none;
}

.habit__create__story__form {
    padding: 2rem;
    border-radius: 0.5rem;
    border: 2px solid black;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}