@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: "Roboto";
}

.journal__heading {
    margin-bottom: 2rem;
}

.journal__form {
    padding: 1rem;
    border-radius: 1rem;
    border: 2px solid black;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

img {
    width: 50px;
    height: auto;
}

.hidden {
    display: none;
}

/* HIDE RADIO */
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* IMAGE STYLES */
[type=radio] + img {
    cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
    outline: 2px solid #f00;
}

.stable {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;  
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.stable thead tr {
    /*background-color: #009879;*/
    color: black;
    text-align: left;
}

.stable th,
.stable td {
    padding: 12px 15px;
}

.stable tbody tr {
    border-bottom: 1px solid #dddddd;
}

.stable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.stable tbody tr:last-of-type {
    border-bottom: 2px solid #0d6efd;
}

textarea {
    resize: none;
}